/*
==============================================================
Default Nextflow config options
==============================================================
*/


/* 
--------------------------------------------------------------
Global params
--------------------------------------------------------------
*/


params {
    debug = true    
    genomes_base = 's3://ngi-igenomes/igenomes'
    reprot_config = "$baseDir/modules/report/config"
}

/* 
--------------------------------------------------------------
import process config
--------------------------------------------------------------
*/

includeConfig 'conf/resource_low.config'

/* 
--------------------------------------------------------------
import genomes config
--------------------------------------------------------------
*/

includeConfig 'conf/genomes.config'

/* 
--------------------------------------------------------------
import outdir config
--------------------------------------------------------------
*/

includeConfig 'conf/outdir.config'

/* 
--------------------------------------------------------------
import barcode config
--------------------------------------------------------------
*/

includeConfig 'conf/barcode.config'