params {
    // publish path
    publish_dir = './result'
    publish_dir_mode = 'copy'
    outdir {
        QC = "${params.publish_dir}/quality_control"
        QC_BEFORE = "${params.publish_dir}/quality_control/before"
        QC_AFTER  = "${params.publish_dir}/quality_control/after"
        QC_UNMAPPED  = "${params.publish_dir}/quality_control/unmap"
        QC_RNASEQC  = "${params.publish_dir}/quality_control/rnaseqc"
        TRIMMING  = "${params.publish_dir}/trimming"
        MAPPING  = "${params.publish_dir}/mapping"
        ALIGNMENT  = "${params.publish_dir}/alignment"
        ALIGNMENT_SPIKE  = "${params.publish_dir}/alignment/spike_aligned"
        REPORT  = "${params.publish_dir}/report"
        TMP  = "${params.publish_dir}/tmp"
    }

    // tools path
    tools {
        fastqc = "fastqc"
        falco = "falco"
        multiqc  = "multiqc"
        bowtie2  = "bowtie2"
        bowtie2_build = "bowtie2-build"
        samtools = "samtools"
        star = "STAR"
        umicollapse = "/home/leizheng/biotools/umicollapse.jar"
        rnaseqc = "/tools/bin/rnaseqc"
        fastp = "/tools/bin/fastp"
        makeblastdb = "/tools/bin/makeblastdb"
        blast2bam = "/tools/bin/blast2bam"
        call_spike_mutation = "/tools/bin/call_spike_mutation"
    }

    // genome
    genome_base = "$baseDir/ref"
    genome {
        index_mode = "skip" // overwrite，skip
        contamination = "${params.genome_base}/contamination.fa"
        genome_human = "${params.genome_base}/genome_human.fa"
        sncRNA_human = "${params.genome_base}/sncRNA_human.fa"
        spike_expand = "${params.genome_base}/spike_expand.fa"
    }

    references {
        blastdb_base = "${params.genome_base}/blastdb"
        'GRCh38' {
            fasta = "${params.genome_base}/genome_human.fa"
            gtf = "${params.genome_base}/genome_human.gtf"
            collapse_gtf = "${params.genome_base}/genome_human.collapse.gtf"
            bowtie2 = "${params.genome_base}/bowtie2_index/genome_human"
            star = "${params.genome_base}/star_index"
        }
        contamination {
            fasta = "${params.genome_base}/contamination.fa"
            bowtie2 = "${params.genome_base}/bowtie2_index/contamination"
        }
        sncRNA_human {
            fasta = "${params.genome_base}/sncRNA_human.fa"
            bowtie2 = "${params.genome_base}/bowtie2_index/sncRNA_human"
        }
        spike_expand {
            fasta = "${params.genome_base}/spike_expand.fa"
            bowtie2 = "${params.genome_base}/bowtie2_index/spike_expand"
        }
        spike_degenerate {
            fasta = "${params.genome_base}/spike_degenerate.fa"
            blastdb = "${params.genome_base}/blastdb/spike_degenerate"
        }
    }

    // bin
    bin_base = "$baseDir/bin"
}