params {
    publish_dir = './result'
    publish_dir_mode = 'copy'
    outdir {
        QC = "${params.publish_dir}/quality_control"
        QC_BEFORE = "${params.publish_dir}/quality_control/before"
        QC_AFTER  = "${params.publish_dir}/quality_control/after"
        TRIMMING  = "${params.publish_dir}/trimming"
        REPORT  = "${params.publish_dir}/report"
    }
}


process {
    // withName: 'FALCO_BEFORE' {
    //     publishDir = [
    //         path: { "${params.publish_dir}/quality_control/falco_before" },
    //         mode: params.publish_dir_mode,
    //     ]
    // }

    // withName: 'SAMPLESHEET_CHECK' {
    //     publishDir = [
    //         path: { "${params.outdir}/pipeline_info" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    // withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    //     publishDir = [
    //         path: { "${params.outdir}/pipeline_info" },
    //         mode: params.publish_dir_mode,
    //         pattern: '*_versions.yml'
    //     ]
    // }
}

