params {
    outdir {
        QC = "${params.publish_dir}/quality_control"
        QC_BEFORE = "${params.publish_dir}/quality_control/before"
        QC_AFTER  = "${params.publish_dir}/quality_control/after"
        TRIMMING  = "${params.publish_dir}/trimming"
        REPORT  = "${params.publish_dir}/report"
    }
    multiqc_config = ""
}